* {
  margin: 0;
  padding: 0;
}
.contact {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
	gap: 20px;
  padding: 20px;
}

.contact__container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.contact__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact__information {
	display: flex;
	justify-content: space-between;
}

.contact__form-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.contact__checkbox-container {
	display: flex;
	align-items: baseline;
	gap: 16px;
}

.contact__label {
  font-weight: bold;
}

.contact__input,
.contact__select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact__stage {
  display: flex;
  flex-direction: row;
}

.contact__stage-button {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.start {
}

.in_progress {
}

.completed {
}



.contact__notes {
  width: 80%;
  height: 100px;
  padding: 10px;
}

.contact__save-notes {
	border: 0;
	max-width: 150px;
  padding: 10px;
  border-radius: 7px;
  background-color: #cec049;
  color: white;
  margin-bottom: 20px;
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

.contact__save-notes:hover {
	opacity: 0.7;
}


.contact__stage-button.active {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

/* Подсветка кнопок */
.contact__stage-button.red {
  background-color: #dc3545;
  color: white;
}

.contact__stage-button.yellow {
  background-color: #ffc107;
  color: white;
}

.contact__stage-button.green {
  background-color: #28a745;
  color: white;
}

.row-red {
  background-color: red;
}

.row-yellow {
  background-color: rgba(224, 214, 38, 0.8);
}

.row-green {
  background-color: green;
}

/* Активные кнопки */
.contact__stage-button.active {
  font-weight: bold;
  border: 2px solid #000;
}

.contact__back-button {
  border: 0;
  padding: 10px;
  border-radius: 7px;
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
  margin-bottom: 20px;
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

.contact__back-button:hover {
  opacity: 0.7;
}

.contact__title-label {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  width: 49%;
}

.contact__subtitle-label {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  width: 37%;
}

.diagnosis-list {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.diagnosis-list li {
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

.diagnosis-list li:hover {
  background-color: #f0f0f0;
}

.contact__save-button {
  margin: 24px 0;
  border: 0;
  padding: 10px;
  border-radius: 7px;
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
  margin-bottom: 20px;
  max-width: 250px;
  cursor: pointer;
  opacity: 1;
  transition: 0.7s;
}

.contact__clear-button {
  max-width: 130px;
  height: 30px;
	border-radius: 7px;
  background-color: #dc3545;
  color: #fff;
  border: 0;
  cursor: pointer;
  transition: 0.7s;
  opacity: 1;
}

.contact__clear-button:hover {
  opacity: 0.7;
}

.contact__save-button:hover {
  opacity: 0.7;
}

/* доп приемы */

.contact__subtitle-label_appointment {
	font-size: 24px;
  font-weight: bold;
  color: darkred;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  width: 52%;
	margin-top: 20px;
}

.contact__additional-appointment {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.contact__button-delete {
	max-width: 130px;
	height: 30px;
	border-radius: 7px;
	background-color: #dc3545;
	color: #fff;
	border: 0;
	cursor: pointer;
	transition: 0.7s;
	opacity: 1;
}

.contact__button-delete:hover {
	opacity: 0.7;
}

.contact__add-appointment_button {
	max-width: 130px;
	height: 30px;
	border-radius: 7px;
	background-color: #4caf50;
	color: #fff;
	border: 0;
	cursor: pointer;
	transition: 0.7s;
	opacity: 1;
}

.contact__add-appointment_button:hover {
	opacity: 0.7;
}

